.button-github{
    font-size:30px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    margin-top: 50px !important;
}

.container-main-about{
    margin-bottom: 350px;
}